vanets/out/
vanets/simulations/*.anf
vanets/src/Makefile
vanets/src/vanets
vanets/src/vanets_dbg
vanets/src/Makefile
vanets/src/vanets_dbg
/.metadata/
vanets/.settings/
vanets/.csettings/
veins/.csettings/
veins/.settings/

